 
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.env

# Django
*.log
db.sqlite3
media/

# Environment variables
.env
.env.local
*.env

# IDE files
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini